---

- name: set timezone
  timezone:
    name: "{{ timezone_name }}"

- name: install apt packages
  apt:
    name:  "{{ item }}"
    state:              latest
    install_recommends: false
    update_cache:       yes
    cache_valid_time:   300
  with_items: "{{ init_apt_packages }}"

- name: update /etc/hosts
  template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644

- include: pip.yml

- include: ntp.yml
