{% if nginx_custom_vhosts and nginx_custom_vhosts is defined %}
{% for vhost in nginx_custom_vhosts %}
    server {
        listen {{ vhost.port|default(nginx_port) }};

        server_name {{ vhost.server_name }};
        root {{ vhost.root|default(nginx_default_root) }};

        access_log {{ vhost.access_log }};
        error_log {{ vhost.error_log }};

        {% if vhost.index and vhost.index is defined %}
            index {{ vhost.index }};
        {% endif %}

        {% if vhost.strip_prefix and vhost.strip_prefix is defined %}
            # strip {{ vhost.strip_prefix }}/ prefix if it is present
            rewrite ^/{{ vhost.strip_prefix }}/?(.*)$ /$1 permanent;
        {% endif %}

        {% if vhost.rewrites and vhost.rewrites is defined %}
        {% for rewrite_config in vhost.rewrites %}
            location {{ rewrite_config.location }} {
                index {{ rewrite_config.index }};
                try_files $uri @rewrite{{ rewrite_config.name }};
            }

            location @rewrite{{ rewrite_config.name }} {
                rewrite ^(.*)$ /{{ rewrite_config.index }}/$1 last;
            }
        {% endfor %}
        {% endif %}

        {% if vhost.active_php %}
            # pass the PHP scripts to FastCGI server from upstream phpfcgi
            location ~ ^/({{ vhost.front_controller|default('.*') }})\.php(/|$) {
                include fastcgi_params;
                fastcgi_pass php-fpm-project;
                fastcgi_buffers 16 16k;
                fastcgi_buffer_size 32k;
                fastcgi_split_path_info ^(.+\.php)(/.*)$;
                fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param  HTTPS off;
            }
        {% endif %}
    }
{% endfor %}
{% endif %}
