<Macro CommonNoFpmMacro $host $dir>

    ServerName $host
    DocumentRoot $dir

    <Directory $dir>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    # LogLevel warn rewrite:trace1
    CustomLog ${APACHE_LOG_DIR}/$host_access.log combined
    ErrorLog ${APACHE_LOG_DIR}/$host_error.log

    AcceptPathInfo On

    # Fix Authorization header unset by php-fpm
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    # Fix apache proxy to php-fpm Transfer-Encoding: chunked
    # Header unset Content-Length

</Macro>