<Macro sslWithChainFileMacro $SSLCertificateFile $SSLCertificateKeyFile $SSLCertificateChainFile>

    Use sslMacro $SSLCertificateFile $SSLCertificateKeyFile
    SSLCertificateChainFile $SSLCertificateChainFile

</Macro>
