[blackfire]
ca-cert={{ blackfire_cert }}
collector={{ blackfire_collector }}
http-proxy={{ blackfire_http_proxy }}
https-proxy={{ blackfire_https_proxy }}
log-file={{ blackfire_log_file }}
log-level={{ blackfire_log_level }}
server-id={{ blackfire_server_id }}
server-token={{ blackfire_server_token }}
socket={{ blackfire_socket }}
spec={{ blackfire_spec }}
