; Override default config with your own config
; priority=99

{% for config_section in php_ini_custom|sort %}
[{{ config_section }}]
{% for key in php_ini_custom[config_section]|sort %}
{{ key }} = {{ php_ini_custom[config_section][key] }}
{% endfor %}

{% endfor %}
