[unix_http_server]
file={{ supervisor_socket }}

[inet_http_server]
port={{ ansible_host }}:{{ supervisor_http_port }}
username={{ supervisor_http_username }}
password={{ supervisor_http_password }}

[supervisord]
logfile={{ supervisor_log_file }}
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile={{ supervisor_pidfile }}
nodaemon=false
minfds=1024
minprocs=200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_socket }}
username={{ supervisor_http_username }}
password={{ supervisor_http_password }}

[include]
files = conf.d/*.conf
