---

# Include Base playbook for common tasks
- include: base.yml

# Specific playbook for docker servers
- hosts: dockerservers
  become: true
  become_method: sudo
  roles:
    - { role: docker, tags: ['docker'] }
